# this is the packages list which affects ATS and its testing
# comment any with '#' to exclude

###############################################################################
# libraries
###############################################################################
libtcl8.6
libpcre3
libssl1.0.0
libcap2
libexpat1
libexpat1-dev
libmodule-install-perl
libssl-dev
tcl-dev
libpcre3-dev
libcap-dev
libhwloc-dev
liblua5.1-0-dev

libluajit-5.1-dev

libncurses5-dev
libcurl4-openssl-dev
ca-certificates

###############################################################################
# utils
###############################################################################
git
make
pkg-config
libtool
automake
autoconf
openssl
gcc
g++
flex
expat

###############################################################################
# additional utils
###############################################################################
bind9
iproute2
net-tools
tcpdump
iputils-ping
iputils-arping
curl
vim
strace
whiptail
bash-completion
git-core
ssl-cert
ssl-cert-check
bsdmainutils
